@model IEnumerable<TeamRedInternalProject.Models.Artist>

@{
    ViewData["Title"] = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Artist Line-up</h1>
<div class="container-fluid p-0">
    <img src="~/images/ArtistLineup.png" class="img-fluid">
</div>

<div class="container mt-5">


    <section class="card-container">
        @foreach (var item in Model)
        {
            <article class="main-card">
                <img src="~/images/@item.ImgPath" class="card-img-top" alt="@item.ArtistName">
                <h2>@item.ArtistName</h2>
                <p>@item.ArtistBio</p>
            </article>
        }
    </section>
</div>


