@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World Music Festival</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body class="HomeBody">
    <div class="container-fluid">
        <div class="">
            <div class="homeBannerDiv">
                <h4> A music + camping festival </h4>
                <h1 class="BannerLogo"> Team Red Project Logo Here </h1>
                <p class="BannerDate">Thursday June 8th - Sunday June 11th </p>
                <br />
                <p> 123 Mcdonald Ave, Vancouver BC</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center mt-5">
                <p>Example text about the festival here</p>
                <a asp-controller="User" asp-action="PurchaseTickets" class="btn btn-info" id="btnHome">Buy Tickets</a>
                <a asp-action="Artists" class="btn btn-info" id="btnHome">Artist Lineup</a>
            </div>
        </div>

         <div class="">
           <div class="homeLineupDiv align-content-center">
                <h2> Just announced! </h2>
                <h3> Justin Bieber </h3>
                <p class="lineupLineOne">Prince,  The Wiggles,  Lady gaga</p>
                <p>Madona,  Michael Jackson,  Young Thug, Taylor Swift, Cordae, Little Uzi </p>
            </div>
        </div>

        <div class="HomeImgDiv row mt-5">
            <div class="col-4">
                <img src="/images/vadim-bogulov--PwZWV5AWV0-unsplash.jpg" class="img-fluid circle-img">
            </div>
            <div class="col-4">
                <img src="/images/vadim-bogulov--PwZWV5AWV0-unsplash.jpg" class="img-fluid circle-img">
            </div>
            <div class="col-4">
                <img src="/images/vadim-bogulov--PwZWV5AWV0-unsplash.jpg" class="img-fluid circle-img">
            </div>
        </div>
    </div>

</body>
</html>
