@model IEnumerable<TeamRedInternalProject.Models.Artist>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World Music Festival</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body class="HomeBody">
    <div class="container-fluid">
        <div class="">
            <div class="homeBannerDiv">
                <h4> Vancouver's #1 Music Festival</h4>
                <img class="BannerLogo" src="./images/Logo.png" alt="Logo for team red">
                <p class="BannerDate">Thursday June 8th - Sunday June 11th <br /> 123 Mcdonald Ave, Vancouver BC</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center mt-5">
                <p>Tickets on sale now</p>
                <a asp-controller="User" asp-action="PurchaseTickets" class="btn btn-info" id="btnHome">Buy Tickets</a>
                <a asp-action="Artists" class="btn btn-info" id="btnHome">Artist Lineup</a>
            </div>
        </div>

         <div class="">
           <div class="homeLineupDiv align-content-center">
                <h2> Just announced! </h2>
                <h3> Billy Talent </h3>
                <p class="lineupLineOne">The Wiggles,  Sum41</p>
                <p>Drake, Beethoven, Prince, TOTO</p>
            </div>
        </div>

        <div class="HomeImgDiv row mt-5 p-3">
            @foreach (var item in Model.Take(3))
            {
                <article class="col-4">
                    <img src="~/images/@item.ImgPath" class="img-fluid circle-img" alt="@item.ArtistName">
                    <h2 class="pt-4 text-white fs-2">@item.ArtistName</h2>
                    <p class="text-white fs-5">@item.ArtistBio</p>
                </article>
            }
        </div>
    </div>

</body>
</html>
