@model IEnumerable<TeamRedInternalProject.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Roles</h1>

<p class="text-center">
    <a asp-action="Create">Assign a Role to a User</a>
</p>

<section class="card-container">
@foreach (var item in Model) {
    <article class="main-card">
        <h2>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h2>
        <p>@Html.DisplayFor(modelItem => item.Email)</p>
            @if (item.Admin == true)
            {
                <p class="admin-card">Admin</p>
            }
            else
            {
                <p class="">Customer</p>
            }

    </article>
}
</section>

@ViewBag.Message
