/*Layout
    -------------------------------------------------------------------
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFEFEF;
}

/*cards
    -----------------------------------------------------------------------
*/

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 55rem;
    margin: 0 auto;
}

.main-card {
    border: 1px solid black;
    max-width: 25rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #FBF7F4;
}

.main-card h2 {
    text-align: center;
}

.admin-card {
    color: red;
}



/*forms
    -----------------------------------------------------------------------
*/
.form-h1 {
    text-align: center;
}

.main-form {
    background-color: #d1b8df;
    width: 400px;
    padding: 1rem;
    border-radius: 4px;
}

.main-form button {
    background-color: #a680b8;
    border: none;
}

.main-form button:active,
.main-form button:hover,
.main-form button:focus {
    background-color: #b5739d;
    color: black;
}

.main-form-input {
    margin-bottom: 1rem;
}


.login-links {
    width: 400px;
    padding: 1rem;
}

.login-links a {
    text-decoration: none;
    color: #b5739d;
}